__pycache__/
*.py[cod]
build/
var/
dist/
*.egg-info
*.eggs
*.so
.ipynb_checkpoints/
tmp/
include/
_eupspkg/
_version.txt
scarlet/_version.py
docs/_build
docs/api
docs/_templates
docs/hsc_cosmos_35.sca
