.data-heading {
    position: -webkit-sticky;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index:100;
    background-color: lightgoldenrodyellow;
    padding-bottom: 10px;
}

.data-contents {
    z-index:200;
    padding-top:80px;
}

.div-inner-heading {
    margin:20px;
}

dl.py {
  margin:40px 0px;
}
